body {
    font-family: Georgia;
    --white: #fff;
    --snow: color(display-p3 170% 170% 170%);
    --red: color(display-p3 170% 100% 100%);
    --yellow: color(display-p3 170% 170% 100%);
    --green: color(display-p3 100% 170% 100%);
    --cyan: color(display-p3 100% 170% 170%);
    --blue: color(display-p3 100% 100% 170%);
    --pink: color(display-p3 170% 100% 170%);
  
    background: var(--white);
  }
  
  *,
  *::after,
  *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-align: center;
    padding: 56px 48px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  h1,
  p,
  a {
    background: var(--snow);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-wrap: balance;
  }
  
  h1 {
    font-size: 112px;
    font-weight: 700;
  }
  p,
  a {
    font-size: 40px;
    line-height: 140%;
  }
  
  hr {
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 2px;
    background: linear-gradient(
      to right,
      transparent 0%,
      var(--snow) 50%,
      transparent 100%
    );
    border: none;
  }
  
  .colors {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    margin-top: 24px;
  }
  .colors * + * {
    margin-left: -12px;
  }
  
  .color {
    width: 56px;
    height: 56px;
    background: var(--snow);
    border-radius: 50%;
    border: 4px solid var(--white);
  }
  
  .red {
    background-color: var(--red);
  }
  .yellow {
    background-color: var(--yellow);
  }
  .green {
    background-color: var(--green);
  }
  .cyan {
    background-color: var(--cyan);
  }
  .blue {
    background-color: var(--blue);
  }
  .pink {
    background-color: var(--pink);
  }
  
  a {
    display: block;
    text-decoration: none;
    border: 4px solid var(--snow);
    border-radius: 16px;
    padding: 4px 16px;
  }
  